h1{
    font-family: 'Press Start 2P', system-ui;
    color: #fac650;
}

body{
    background-color: #222831;
    margin: 0px;
    font-family: Arial;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111720;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 50px;
}

.scoreboard{
    /* background-color: violet;  */
    font-family: Arial;
}

.round-result,
.round-description{
    text-align: center;
    font-weight: bold;
    color: #dddddd;
}

.round-result{
    font-size: 33px;
    margin-bottom: 15px;
}

.round-description{
    font-size: 25px;
}

.players{
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.player-info
{
    margin-right: 80px; 
} 

.player-choice,
.computer-choice{
    text-align: center;
    height: 100px;
    font-size: 100px;
    color: #dddddd;
    font-weight: bold;
}

.player-score, 
.computer-score{
    margin-top: 35px;
    color: #dddddd;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.options{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.rock,
.paper,
.scissors{
    font-size: 100px;
    margin-right: 25px;
    border-radius: 17px;
    background-color: #393e46;
    border: none;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.rock:hover, 
.paper:hover,
.scissors:hover{
    background-color: #4c535e;
}

.rock:active, 
.paper:active,
.scissors:active{
    background-color: #5c6572;
}

.footer{
    text-align: center;
    margin-bottom: 12px;
}

.github-link{
    color: white;
    text-decoration: none;
}

.githubLogo{
    height: 20px;
    vertical-align: middle;
}

